[submodule "src/Externals/glbinding"]
	path = src/Externals/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "src/Externals/gli"]
	path = src/Externals/gli
	url = https://github.com/g-truc/gli
