[submodule "src/Externals/luabind"]
	path = src/Externals/luabind
	url = https://github.com/OpenXRay/luabind-deboostified.git
[submodule "src/Externals/luajit"]
	path = src/Externals/luajit
	url = https://github.com/OpenXRay/LuaJIT.git
[submodule "src/Externals/GameSpy"]
	path = src/Externals/GameSpy
	url = https://github.com/nitrocaster/GameSpy.git
[submodule "src/Externals/AGS_SDK"]
	path = src/Externals/AGS_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/AGS_SDK.git
[submodule "src/Externals/lzo"]
	path = src/Externals/lzo
	url = https://github.com/alexgdi/lzo.git
[submodule "src/Externals/zlib"]
	path = src/Externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/Externals/libvorbis"]
	path = src/Externals/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "src/Externals/libogg"]
	path = src/Externals/libogg
	url = https://github.com/xiph/ogg.git
[submodule "src/Externals/libtheora"]
	path = src/Externals/libtheora
	url = https://github.com/xiph/theora.git
[submodule "src/Externals/jpeg"]
	path = src/Externals/jpeg
	url = https://github.com/OpenXRay/libjpeg.git
[submodule "src/Externals/BugTrap"]
	path = src/Externals/BugTrap
	url = https://github.com/OpenXRay/BugTrap.git
