# exclude all dot files except .git files
.*
!.git*

# exclude binaries and temporary files
bin/
bin_plugs/
intermediate/
intermediate_plugs/
lib/
*.aps
*.user
*.PVS-Studio.*
res/gamedata_COC/.gitattributes
res/gamedata_COC/.gitignore
res/gamedata_COC/changelog_legend.txt
*.bak
