# exclude all dot files except .git, .editorconfig and .vscode
.*
!.git*
!.editorconfig
!.vscode

# exclude binaries and temporary files
[Bb]in/
[Bb]uild*/
cmake_builds/
CMakeUserPresets.json

# User-specific files
*.user
*.user.props
*.nvuser
*.PVS-Studio.*

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# exclude doxygen output
doc/doxygen/html/*
