# X-Ray blending template
*.s text diff linguist-language=Lua

# Just an additional fix: unset binary attribute
*.ps -binary

# DirectX renderer shader extension names
r*/*.ps text diff=cpp linguist-language=HLSL
r*/*.vs text diff=cpp linguist-language=HLSL
r*/*.gs text diff=cpp linguist-language=HLSL
r*/*.cs text diff=cpp linguist-language=HLSL
r*/*.hs text diff=cpp linguist-language=HLSL
r*/*.ds text diff=cpp linguist-language=HLSL

# OpenGL renderer uses the same extensions
gl/*.ps text diff=cpp linguist-language=GLSL
gl/*.vs text diff=cpp linguist-language=GLSL
gl/*.gs text diff=cpp linguist-language=GLSL
gl/*.cs text diff=cpp linguist-language=GLSL
gl/*.hs text diff=cpp linguist-language=GLSL
gl/*.ds text diff=cpp linguist-language=GLSL
