<html>
	<head>
		<title>
			EldoS -- Order page
		</title>
		<meta name="description" content="ElPack ordering page. Here you can choose suitable license type and order ElPack for Delphi/Builder and Kylix.">
		<meta name="resource-type" content="document">
		<meta http-equiv="revisit-after" content="7 days">
		<meta name="copyright" content="EldoS">
		<meta http-equiv="author" content="Taras Ninko">
		
		<meta http-equiv="reply-to" content="webmaster@eldos.org">
		<meta http-equiv="robots" content="ALL">
		<meta http-equiv="rating" content="General">
		<meta http-equiv="distribution" content="Global">
		<meta http-equiv="DOCUMENT-STATE" content="STATIC">

<Style>

.topmenu {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #E8EEF3;
	text-decoration: none;
	font-weight : bold;
}

.zagolovok {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.header2 {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.product {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #3050A2;
	font-weight: bold;
	background-color : #E8EEF3;
	text-decoration : none;
}

.main {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
}

.mainLarge {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: larger;
	color: #0B3A5E;
	font-weight: bold;
	text-decoration: none;
}

.mainSmall {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: xx-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
}

.filesize {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
    font-style: italic;
}

.more {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
	background-color : #E6DCCC;
}

.news {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: small; 
font-weight: bolder}

.Alink {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #C95053;
font-weight: bolder;
text-decoration: none}

.ALinkSmaller {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: xx-small; 
color: #C95053; 
font-weight: normal;
text-decoration: none}

.mainBold { 
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #0B3A5E; 
font-weight: bold}

/* {scrollbar-3d-light-color:     #4D8EBE;
    scrollbar-arrow-color:       #FFFFFF;
    scrollbar-base-color:        #406F93;
    scrollbar-dark-shadow-color: #183041;
    scrollbar-face-color:        #406F93;
    scrollbar-highlight-color:   #4D8EBE;
    scrollbar-shadow-color:      #204057
}
*/

.FormEdit {
	BORDER-TOP:       1px inset #224459;
	BORDER-BOTTOM:    1px       #4D8EBE;
	BORDER-LEFT:      1px inset #224459;
	BORDER-RIGHT:     1px       #4D8EBE;
	BACKGROUND-COLOR:           #E8EEF3;
}

.FormButton {
  	BORDER-TOP : 1px #4D8EBE;
	BORDER-BOTTOM : 1px inset #224459;
	BORDER-LEFT : 1px #4D8EBE;
	BORDER-RIGHT : 1px inset #224459;
	BACKGROUND-COLOR : #E8EEF3;
}

</STYLE>
	
	</head>
	
	<body bgcolor="#FFFFFF" leftMargin=0  topMargin=0 marginwidth="0" marginheight="0">
		<table width="100%" border="0" cellspacing="1" cellpadding="0">
			<tr  bgcolor="#406F93">
				<td colspan="2">
					<table width="100%" border=0 cellspacing="1" cellpadding="5">
						<tr bgcolor="#E8EEF3" align="center">
							<td  class="zagolovok" height="16">
								Order
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td width="100%" valign="top" class="main" bordercolor="#FFFFFF" height="100%">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
						<tr bgcolor="#406F93">
							<td>
								<table border="0" cellspacing="1" cellpadding="5" width="100%" height="100%">
									<tr bgcolor="#FFFFFF" >
										<td class="main" colspan="2">
											<table  border="0" cellspacing="0" cellpadding="5">
												<tr>
													<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
														<p class="main" align="justify">
														If you are registering ElPack for the first time, please use the table below to choose the suitable version and license type. 
                                                        <br>If you want to upgrade your license type, package type<sup>a</sup> or platform, please follow to the <a href="http://www.eldos.org/elpack/upgrade.html" class="Alink">Upgrade</a> page. 
														<p>
														<p>
														<table width="100%" border="0" cellspacing="1" cellpadding="0">            
                                                            <tr>
																<td width="100%" valign="top" class="main" bordercolor="#FFFFFF" height="100%">
																	<table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
																		<tr bgcolor="#406F93">
                                                                            <td>
																				<table border="0" cellspacing="1" cellpadding="5" width="100%" height="100%">
																					<tr bgcolor="#FFFFFF" >
																						<td class="main" colspan="2">
																							<a class="mainBold">Initial purchase:</a>
                                                                            				<table border="1" cellspacing="1" cellpadding="5">
																								<tr>
																									<td rowspan="2" class="zagolovok" width="20%" class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="packages.html" class="Alink">Package</a> name
																									</td>
                                                                            						<td width="5%" class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
																									<td class="zagolovok" align="center" valign="center" colspan="3">
																									Single-user license
																									</td>
                                                                            						<td width="5%" class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
																									<td class="zagolovok" align="center" valign="center" colspan="3">
																									Site license
																									</td>
																								</tr>
																								<tr>
																									<td></td>
                                                                            						<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
																										VCL<br>(Delphi/C++Builder)
																									</td>
																									<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        CLX<br>(X-platform)
																									</td>
																									<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
																										VCL & CLX
																									</td>
																									<td></td>
                                                                            						<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
																										VCL<br>(Delphi/C++Builder)
																									</td>
																									<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
																										CLX<br>(X-platform)
																									</td>
																									<td width="12%" class="zagolovok" bgcolor="#FFFFFF" align="justify" valign="center">
																										VCL & CLX
																									</td>

																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										ElPack Lite (ElTree) package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=134130&language=English" class="Alink">$44</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151669&language=English" class="Alink">$44</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151670&language=English" class="Alink">$74</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=134131&language=English" class="Alink">$99<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151678&language=English" class="Alink">$99<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=151679&language=English" class="Alink">$165<sup>b</sup></a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										ElPack Standard package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=101763&language=English" class="Alink">$99<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151680&language=English" class="Alink">$99<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151681&language=English" class="Alink">$165<sup>b</sup></a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=105362&language=English" class="Alink">$199<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151682&language=English" class="Alink">$199<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151682&language=English" class="Alink">$332</a>
																									</td>
																								</tr>

																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										ElPack Professional package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=149397&language=English" class="Alink">$149<sup>b</sup></a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=151685&language=English" class="Alink">$207<sup>b</sup></a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=149398&language=English" class="Alink">$299</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=151685&language=English" class="Alink">$415</a>
																									</td>
																								</tr>
																								<tr><td class="header2">Component group packages<sup>c</sup>:</td></tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										Check and Radio package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153292&language=English" class="Alink">$24.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153293&language=English" class="Alink">$49.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										Edits package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153294&language=English" class="Alink">$34.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153295&language=English" class="Alink">$69.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										HTML Extended package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153298&language=English" class="Alink">$29.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153299&language=English" class="Alink">$59.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										PageControl package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153296&language=English" class="Alink">$29.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153297&language=English" class="Alink">$59.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										Panels and Buttons package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153300&language=English" class="Alink">$24.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153301&language=English" class="Alink">$49.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										SideBar package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153302&language=English" class="Alink">$19.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153303&language=English" class="Alink">$39.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																								<tr>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										StatusBar package
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
                                                                                                        <a href="https://secure.element5.com/shareit/checkout.html?productid=153304&language=English" class="Alink">$14.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>

                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																									</td>
                                                                            						<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a href="https://secure.element5.com/shareit/checkout.html?productid=153305&language=English" class="Alink">$29.95</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																									<td class="main" bgcolor="#FFFFFF" align="justify" valign="center">
																										<a class="Alink">N/A</a>
																									</td>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<sup>a</sup><span class="mainSmall">Upgrades are available only for Lite, Standard and Professional packages</span><br>
														<sup>b</sup><span class="mainSmall">If you intend to use ElPack solely in non-commercial projects, you can get a significant discount. Please use our <a href="http://www.eldos.org/feedback.html" class="AlinkSmaller">Feedback</a> form to provide us with information about your project and to request details about discount.</span><br>
														<sup>c</sup><span class="mainSmall">Not all possible packages are listed. If you are interested in registering a single component, please contact us using our <a href="http://www.eldos.org/feedback.html" class="AlinkSmaller">Feedback</a> form to send us request for the necessary component</span><br>

<p class="main" align="justify">On purchase you receive: 
<ul>
<li>complete source code of ElPack components and property editors;
<li>free life-time technical support;
<li>free version updates until next major (4.0) release;
<li>e-mail notifications about version updates;
<li>different valuable offers from our <a href="http://www.eldos.org/elpack/partners.html" class="Alink">Partners' page</a>;
</ul>
Site license includes the right to use ElPack on any number of computers within one organization.

<p>
Once your order is approved by registration company, we will send to you an e-mail notification of where to obtain the appropriate files in no more than 48 hours. If you do not receive such notification, please write to <a href="mailto:sales@eldos.org" class="Alink">sales@eldos.org</a>.

													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="1" cellpadding="0">
			<tr align="center">
				<td class="main" colspan="3">
					<br>
					<p>
					<a href="http://www.eldos.org/copyright.html" class="ALinkSmaller">(c) Copyright, 1998-2001 EldoS</a>
					</p>
				</td>
			</tr>
		</table>
		<p>
		&nbsp;
		</p>
	</body>
</html>
