<html>
    <head>  
        <title>
            ElPack - Avaialble packages
		</title>
		<meta name="description" content="EldoS ElPack -- set of unique components for every Delphi and C++Builder developer.">
        <meta name="keywords" content="Unicode,Borland,Delphi,Inprise,component,components,collection,package,ElPack,TElTree,Tree,tree,TreeView,header,multi-select,multiselect,multi-column,multiple columns,columns,status,bar,color map,ElTree,ElPack,ElHeader,Tool bar,status bar,toolbar,statusbar,advanced,bugfix,bug fix,form,caption">
		<meta name="resource-type" content="document">
		<meta http-equiv="revisit-after" content="7 days">
		<meta name="copyright" content="EldoS">
		<meta http-equiv="author" content="Taras Ninko">
		
		<meta http-equiv="reply-to" content="webmaster@eldos.org">
		<meta http-equiv="robots" content="ALL">
		<meta http-equiv="rating" content="General">
		<meta http-equiv="distribution" content="Global">
		<meta http-equiv="DOCUMENT-STATE" content="STATIC">
<Style>

.topmenu {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #E8EEF3;
	text-decoration: none;
	font-weight : bold;
}

.zagolovok {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.header2 {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.product {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #3050A2;
	font-weight: bold;
	background-color : #E8EEF3;
	text-decoration : none;
}

.main {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
}

.mainLarge {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: larger;
	color: #0B3A5E;
	font-weight: bold;
	text-decoration: none;
}

.mainSmall {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: xx-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
}

.filesize {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
    font-style: italic;
}

.more {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
	background-color : #E6DCCC;
}

.news {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: small; 
font-weight: bolder}

.Alink {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #C95053;
font-weight: bolder;
text-decoration: none}

.ALinkSmaller {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: xx-small; 
color: #C95053; 
font-weight: normal;
text-decoration: none}

.mainBold { 
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #0B3A5E; 
font-weight: bold}

/* {scrollbar-3d-light-color:     #4D8EBE;
    scrollbar-arrow-color:       #FFFFFF;
    scrollbar-base-color:        #406F93;
    scrollbar-dark-shadow-color: #183041;
    scrollbar-face-color:        #406F93;
    scrollbar-highlight-color:   #4D8EBE;
    scrollbar-shadow-color:      #204057
}
*/

.FormEdit {
	BORDER-TOP:       1px inset #224459;
	BORDER-BOTTOM:    1px       #4D8EBE;
	BORDER-LEFT:      1px inset #224459;
	BORDER-RIGHT:     1px       #4D8EBE;
	BACKGROUND-COLOR:           #E8EEF3;
}

.FormButton {
  	BORDER-TOP : 1px #4D8EBE;
	BORDER-BOTTOM : 1px inset #224459;
	BORDER-LEFT : 1px #4D8EBE;
	BORDER-RIGHT : 1px inset #224459;
	BACKGROUND-COLOR : #E8EEF3;
}

</STYLE>

	</head>
	
	<body bgcolor="#FFFFFF" leftMargin=0  topMargin=0
		marginwidth="0" marginheight="0">
        <table width="100%" border="0" cellspacing="1" cellpadding="0">
            <tr>
				<td width="100%" valign="top" class="main" bordercolor="#FFFFFF">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr bgcolor="#406F93">
                            <td width="100%" >
                                <table width="100%" border="0" cellspacing="1" cellpadding="5">
									<tr valign="top" align="center" >
										<td class="header2" height="16" colspan="2">
											Available Packages
										</td>
									</tr>
									<tr bgcolor="#FFFFFF" valign="top">
                                        <td class="main" width="100%" colspan="2">
                                            You can register one of ElPack packages. There is a number of packages, most important of them being ElPack <b><i>Lite</i></b>, ElPack <b><i>Standard</i></b> and ElPack <b><i>Professional</i></b>. You will find detailed comparision in the table below. In brief,
                                            <ul>
                                                <li>Lite package is for those users, who are interested in powerful ElTree component only;
                                                <li>Standard package is offered to the users, who need full power of ElPack;
                                                <li>Professional package includes Standard package and also Shell Controls, DB-aware components, Printing system and HTML export for ElTree and also includes <a href="../elmlgen/elmlgen.html" class="Alink">EldoS *ML Generator</a> as a bonus.
                                            </ul>
                                       		Component group packages are listed below.
											<p>
                                            <table width="100%" border="1" cellspacing="0" cellpadding="5" align="center" valign="top">
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="zagolovok" width="45%">
													    Feature
													</td>										
													<td class="zagolovok" width="20%">
														Lite
													</td>
													<td class="zagolovok" width="20%">
														Standard
													</td>
                                                    <td class="zagolovok" width="20%">
														Professional
													</td>                                                    
                                                </tr>                                                
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        ElTree
                                                    </td>                                       
                                                    <td class="main" width="20%">
                                                        <b><i>Present</i></b>
                                                    </td>
                                                    <td class="main" width="20%">
                                                        <b><i>Present</i></b>
                                                    </td>
                                                    <td class="main" width="20%">
                                                        <b><i>Present</i></b>
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
													    OLE drag'n'drop helper controls (VCL only)
													</td>										
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr>
                                                    <td class="main" width="45%">
													    Replacements of standard Windows controls
													</td>										
													<td class="main" width="20%">
                                                        <b><i>ElScrollBar</i></b><br>
                                                        and <b><i>ElHeader</i></b> only
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
                                                    </td>
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Enhancements of standard VCL controls.<br>
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Original visual controls. <br>
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        HTML-enabled visual controls.<br>
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Visible components (not controls).<br>
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Dialogs. <br>
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>ElPack/VCL</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>ElPack/VCL</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Customization components. 
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
													<td class="main" width="20%">
                                                        <b><i>Present</i></b>
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        <!-- <a href="dbtree.html" class="Alink">DB-aware ElTree</a> control.<br> -->
                                                        DB-aware controls.
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
														<b><i>ElPack/VCL</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        <a href="http://www.eldos.org/elmlgen/elmlgen.html" class="Alink">EldoS *ML Generator</a>.
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
														<b><i>Present</i></b>
													</td>                                                    
                                                </tr>

                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        <!-- <a href="print.html" class="Alink">EldoS Printing System</a> for ElTree.<br> -->
                                                        EldoS Printing System for ElTree
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        <b><i>ElPack/VCL</i></b>
													</td>                                                    
                                                </tr>
                                                <tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main" width="45%">
                                                        Shell Controls.
													</td>										
													<td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        -
													</td>
                                                    <td class="main" width="20%">
                                                        <b><i>ElPack/VCL (CLX to come)</i></b>
													</td>                                                    
                                                </tr>
                                            </table>
										</td>
									</tr>
									<tr bgcolor="#FFFFFF" valign="top">
                                        <td class="main" width="100%" colspan="2">
                                            <p class="main">Component group packages:
											<table width="100%" border="1" cellspacing="0" cellpadding="5" align="center" valign="top">
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="zagolovok" width="30%">
													    Package
													</td>										
													<td class="zagolovok">
														Contents
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
													    Checks and Radio
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElCheckBox" class="Alink">TElCheckBox</a>, 
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElRadioButton" class="Alink">TElRadioButton</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElPanel" class="Alink">TElPanel</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElGroupBox" class="Alink">TElGroupBox</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElRadioGroup" class="Alink">TElRadioGroup</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElSoundMap" class="Alink">TElSoundMap</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
													    Edits
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElEdit" class="Alink">TElEdit</a>, 
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElPopupButton" class="Alink">TElPopupButton</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElGraphicButton" class="Alink">TElGraphicButton</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElButtonEdit" class="Alink">TElButtonEdit</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElFileNameEdit" class="Alink">TElFileNameEdit</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElFolderNameEdit" class="Alink">TElFolderNameEdit</a>,
														<a href="http://www.eldos.org/elpack/dialogs.html#ElFolderDialog" class="Alink">TElFolderDialog</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElScrollBar" class="Alink">TElScrollBar</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElSpinEdit" class="Alink">TElSpinEdit</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElFloatSpinEdit" class="Alink">TElFloatSpinEdit</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedEdit" class="Alink">TElAdvancedEdit</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedMemo" class="Alink">TElAdvancedMemo</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedListBox" class="Alink">TElAdvancedListBox</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedComboBox" class="Alink">TElAdvancedComboBox</a>,

														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElSoundMap" class="Alink">TElSoundMap</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
													    HTML Extended
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLHint" class="Alink">TElHTMLHint</a>, 
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLListBox" class="Alink">TElHTMLListBox</a>,
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLComboBox" class="Alink">TElHTMLComboBox</a>,
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLLabel" class="Alink">TElHTMLLabel</a>,
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLView" class="Alink">TElHTMLView</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElScrollBar" class="Alink">TElScrollBar</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedEdit" class="Alink">TElAdvancedEdit</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedMemo" class="Alink">TElAdvancedMemo</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedListBox" class="Alink">TElAdvancedListBox</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvancedComboBox" class="Alink">TElAdvancedComboBox</a>,

														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
													    PageControl
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElPageControl" class="Alink">TElPageControl</a>, 
														<a href="http://www.eldos.org/elpack/custom.html#ElTimerPool" class="Alink">TElTimerPool</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElSoundMap" class="Alink">TElSoundMap</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
													    Panels and Buttons
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElPopupButton" class="Alink">TElPopupButton</a>,
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElGraphicButton" class="Alink">TElGraphicButton</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElPanel" class="Alink">TElPanel</a>,
														<a href="http://www.eldos.org/elpack/html_ctrls.html#ElHTMLPanel" class="Alink">TElHTMLPanel</a>,
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElAdvPanel" class="Alink">TElAdvancedPanel</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElSplitter" class="Alink">TElSplitter</a>,

														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElSoundMap" class="Alink">TElSoundMap</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
														ElSideBar													    
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/enhance_ctrls.html#ElPanel" class="Alink">TElPanel</a>,
														<a href="http://www.eldos.org/elpack/orig_ctrls.html#ElSideBar" class="Alink">TElSideBar</a>,

														<a href="http://www.eldos.org/elpack/custom.html#ElHook" class="Alink">TElHook</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>,
														<a href="http://www.eldos.org/elpack/vis_comps.html#ElImageForm" class="Alink">TElImageForm</a>
													</td>
												</tr>
												<tr bgcolor="#FFFFFF" valign="top">
                                                    <td class="main">
														ElStatusBar											    
													</td>										
													<td class="main">
														<a href="http://www.eldos.org/elpack/replace_ctrls.html#ElStatusBar" class="Alink">TElStatusBar</a>,
														<a href="http://www.eldos.org/elpack/custom.html#ElIniFile" class="Alink">TElIniFile</a>
													</td>
												</tr>
											</table>
										</td>									
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
