<html>
<head>
<title>EldoS Components Pack for Delphi and C++Builder.</title>

<Style>

.topmenu {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #E8EEF3;
	text-decoration: none;
	font-weight : bold;
}

.zagolovok {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.header2 {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: bold;
	background-color : #E8EEF3;
}

.product {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #3050A2;
	font-weight: bold;
	background-color : #E8EEF3;
	text-decoration : none;
}

.main {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
}

.filesize {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
    font-style: italic;
}

.more {
	font-family: "MS sans-serif", sans-serif, fixed;
	font-size: x-small;
	color: #0B3A5E;
	font-weight: normal;
	text-decoration: none;
	background-color : #E6DCCC;
}

.news {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: small; 
font-weight: bolder}

.Alink {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #C95053;
font-weight: bolder;
text-decoration: none}

.ALinkSmaller {  
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: xx-small; 
color: #C95053; 
font-weight: normal;
text-decoration: none}

.mainBold { 
font-family: "MS sans-serif", sans-serif, fixed; 
font-size: x-small; 
color: #0B3A5E; 
font-weight: bold}

/* {scrollbar-3d-light-color:     #4D8EBE;
    scrollbar-arrow-color:       #FFFFFF;
    scrollbar-base-color:        #406F93;
    scrollbar-dark-shadow-color: #183041;
    scrollbar-face-color:        #406F93;
    scrollbar-highlight-color:   #4D8EBE;
    scrollbar-shadow-color:      #204057
}
*/

.FormEdit {
	BORDER-TOP:       1px inset #224459;
	BORDER-BOTTOM:    1px       #4D8EBE;
	BORDER-LEFT:      1px inset #224459;
	BORDER-RIGHT:     1px       #4D8EBE;
	BACKGROUND-COLOR:           #E8EEF3;
}

.FormButton {
  	BORDER-TOP : 1px #4D8EBE;
	BORDER-BOTTOM : 1px inset #224459;
	BORDER-LEFT : 1px #4D8EBE;
	BORDER-RIGHT : 1px inset #224459;
	BACKGROUND-COLOR : #E8EEF3;
}
</STYLE>
</head>

<body class="main" bgcolor="#FFFFFF" leftMargin=0 topMargin=0 marginwidth="0" marginheight="0">
<center> <p class="zagolovok">EldoS Components Pack for Delphi and C++Builder.</p>
</center>
<OL class="Alink">
	<LI><a href="#INSTALL" class="Alink">Installation</a>
		<UL>
			<LI><a href="#INSTALLE" class="Alink">Evaluation version</a>
			<LI><a href="#INSTALLR" class="Alink">Registered version</a>
			<LI><a href="#HELPFILE" class="Alink">Help Files (optional)</a>
		</UL>
    <LI><a href="#MIGRATION" class="Alink">Migration from ElPack 2.x</a>
    <LI><a href="#NOTES" class="Alink">Release notes</a>
    <LI><a href="#LICENSE" class="Alink">Licensing and purchase</a>
	<LI><a href="#DISCLAIMER" class="Alink">Disclaimer</a>
	<LI><a href="#CONTACT" class="Alink">Contact information</a>
	<LI><a href="#CREDITS" class="Alink">Credits</a>
</OL>

<center class="header2"><a name="INSTALL">Installation</a></center>

<p align="justify">First run the included executable file named "ElPack.exe" and install the pack contents to your hard drive. Then follow the instructions to install the package in your development tool (either Delphi or C++ Builder).

<p align="justify">If you are upgrading from the previous version of ElPack, please, see the <a href="changes.txt" class="Alink">list of changes</a> first. Due to the filenames changes, your projects might require little modifications before they can be compiled with new version of ElPack.

<p align="justify">To install ElPack, different sets of packages for different development tools (Delphi and C++Builder) are provided.

<p align="justify">Each set consists of 8 packages:
<ul>
<li>elpackXY.?pk - ElPack run-time package
<li>dclelpXY.?pk - ElPack design-time package
<li>elpkdbXY.?pk - ElPack DB-aware controls run-time package (Evaluation and Registered Professional package only)
<li>dceldbXY.?pk - ElPack DB-aware controls design-time package (Evaluation and Registered Professional package only)
<li>elpproXY.?pk - ElPack Professional run-time package (Evaluation and Registered Professional package only)
<li>dcelppXY.?pk - ElPack Professional controls design-time package (Evaluation and Registered Professional package only)
<li>elmlgnXY.?pk - EldoS *ML Generator package (Registered Professional package only)
<li>elmltgXY.?pk - EldoS ElTree *ML Generator package (Registered Professional package only)
</ul>

<p align="justify">Where
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>X</b> stands for the development tool (D - Delphi, B - C++Builder), and 
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Y</b> stands for the version of the development tool (3, 4, 5, 6 for Delphi and C++Builder).

<p align="justify">
<p class="header2"><a name="INSTALLE">Installing evaluation packages</a></center>
<p align="justify">These packages are pre-built for easier installation.
<p align="justify">By default ElPack setup builds and installs all packages and help files automatically. If automatic operation fails for any reason, you will be informed that you need to use the instructions below to install ElPack.
<p align="justify">Supposing you have installed ElPack to the <i>&lt;somedir&gt;</i> folder, you will find all necessary files in &lt;somedir&gt;\Code\Source folder. 
<p class="header3">Installing packages in <b><i>Delphi 3</i></b>:
<p align="justify">Pre-built packages are elpackD3.dpl, elpkdbD3.dpl, elpproD3.dpl (run-time packages) and dclelpD3.dpl, dceldbD3.dpl, dcelppD3.dpl (design-time packages).
<p align="justify">
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackD3.dpl</i>, <i>&lt;somedir&gt;\Code\elpkdbD3.dpl</i> and <i>&lt;somedir&gt;\Code\elpproD3.dpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from Delphi IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpD3.dpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dceldbD3.dpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dcelppD3.dpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as Delphi IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "DPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>Delphi 4</i></b>:
<p align="justify">Pre-built packages are elpackD4.bpl, elpkdbD4.bpl, elpproD4.bpl (run-time packages) and dclelpD4.bpl, dceldbD4.bpl, dcelppD4.bpl (design-time packages).
<p align="justify">
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackD4.bpl</i>, <i>&lt;somedir&gt;\Code\elpproD4.bpl</i> and <i>&lt;somedir&gt;\Code\elpkdbD4.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from Delphi IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpD4.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dceldbD4.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dcelppD4.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as Delphi IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>Delphi 5</i></b>:
<p align="justify">Pre-built packages are elpackD5.bpl, elpkdbD5.bpl, elpproD5.bpl (run-time packages) and dclelpD5.bpl, dceldbD5.bpl, dcelppD5.bpl (design-time packages).
<p align="justify">
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackD5.bpl</i>, <i>&lt;somedir&gt;\Code\elpproD5.bpl</i> and <i>&lt;somedir&gt;\Source\elpkdbD5.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from Delphi IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpD5.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dceldbD5.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dcelppD5.bpl</i> to the list (using Add button).
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as Delphi IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>Delphi 6</i></b>:
<p align="justify">Pre-built packages are elpackD6.bpl, elpkdbD6.bpl, elpproD6.bpl (run-time packages) and dclelpD6.bpl, dceldbD6.bpl, dcelppD6.bpl (design-time packages).
<p align="justify">
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackD6.bpl</i>, <i>&lt;somedir&gt;\Code\elpproD6.bpl</i> and <i>&lt;somedir&gt;\Code\elpkdbD6.bpl</i> into your Windows System folder.
<li>Choose <i>Components\Installed Packages</i> from Delphi IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\Source\dclelpD6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source\dceldbD6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source\dcelppD6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as Delphi IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>Delphi 6 (CLX)</i></b>:
<p align="justify">Pre-built packages are elpackD6.bpl (run-time package) and dclelpD6.bpl (design-time package).
<p align="justify">
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackD6.bpl</i>into your Windows System folder.
<li>Choose <i>Components\Installed Packages</i> from Delphi IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\Source\dclelpD6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as Delphi IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>C++Builder 3</i></b>:
<p align="justify">Pre-built packages are elpackB3.bpl, elpkdbB3.bpl, elpproB3.bpl (run-time packages) and dclelpB3.bpl, dceldbB3.bpl, dcelppB3.bpl (design-time packages).
<p align="justify">
If you get the message about missing *.lib file (dclstd35.lib, for example), copy &lt;BCB folder&gt;\Lib\dclstd35.bpi to &lt;BCB folder&gt;\Lib\dclstd35.lib.
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackB3.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\Source\dclelpB3.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as C++Builder IDE default library path.
<li>Copy or move <i>&lt;somedir&gt;\Code\elpkdbB3.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dceldbB3.bpl</i> to the list (using Add button). 
<li>Copy or move <i>&lt;somedir&gt;\Code\Source\elpproB3.bpl</i> into your Windows System folder.
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu.
<li>Add <i>&lt;somedir&gt;\Code\dcelppB3.bpl</i> to the list (using Add button).
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 
<br>Please see the note for C++Builder (all versions) below.

<p class="header3">Installing packages in <b><i>C++Builder 4</i></b>:
<p align="justify">Pre-built packages are elpackB4.bpl, elpkdbB4.bpl, elpproB4.bpl (run-time packages) and dclelpB4.bpl, dceldbB4.bpl, dcelppB4.bpl (design-time packages).
<p align="justify">
If you get the message about missing *.lib file (dclstd40.lib, for example), copy &lt;BCB folder&gt;\Lib\dclstd40.bpi to &lt;BCB folder&gt;\Lib\dclstd40.lib.
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\Source\elpackB4.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpB4.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as C++Builder IDE default library path.
<li>Copy or move <i>&lt;somedir&gt;\Code\elpkdbB4.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dceldbB4.bpl</i> to the list (using Add button). 
<li>Copy or move <i>&lt;somedir&gt;\Code\elpproB4.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dcelppB4.bpl</i> to the list (using Add button). 
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 
<br>Please see the note for C++Builder (all versions) below.

<p class="header3">Installing packages in <b><i>C++Builder 5</i></b>:
<p align="justify">Pre-built packages are elpackB5.bpl, elpkdbB5.bpl, elpproB5.bpl (run-time packages) and dclelpB5.bpl, dceldbB5.bpl, dcelppB5.bpl (design-time packages).
<p align="justify">
If you get the message about missing *.lib file (dclstd50.lib, for example), copy &lt;BCB folder&gt;\Lib\dclstd50.bpi to &lt;BCB folder&gt;\Lib\dclstd50.lib.
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackB5.bpl</i>, <i>&lt;somedir&gt;\Code\elpproB5.bpl</i> and <i>&lt;somedir&gt;\Code\elpkdbB5.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpB5.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dceldbB5.bpl</i> to the list (using Add button).
<li>Add <i>&lt;somedir&gt;\Code\dcelppB5.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as C++Builder IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p class="header3">Installing packages in <b><i>C++Builder 6</i></b>:
<p align="justify">Pre-built packages are elpackB6.bpl, elpkdbB6.bpl, elpproB6.bpl (run-time packages) and dclelpB6.bpl, dceldbB6.bpl, dcelppB6.bpl (design-time packages).
<p align="justify">
If you get the message about missing *.lib file (dclstd.lib, for example), copy &lt;BCB folder&gt;\Lib\dclstd.bpi to &lt;BCB folder&gt;\Lib\dclstd.lib.
<ol>
<li>Copy or move <i>&lt;somedir&gt;\Code\elpackB6.bpl</i>, <i>&lt;somedir&gt;\Code\elpproB6.bpl</i> and <i>&lt;somedir&gt;\Code\elpkdbB6.bpl</i> into your Windows System folder. 
<li>Choose <i>Components\Installed Packages</i> from C++Builder IDE main menu. 
<li>Add <i>&lt;somedir&gt;\Code\dclelpB6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\dceldbB6.bpl</i> to the list (using Add button).
<li>Add <i>&lt;somedir&gt;\Code\dcelppB6.bpl</i> to the list (using Add button). 
<li>Add <i>&lt;somedir&gt;\Code\Source</i> folder to the list of library folders in your project or as C++Builder IDE default library path.
</ol>
<br>If you are getting the error "Can't load package <elpack design-time package>", be sure that run-time packages are visible in the system path, i.e. they can be loaded as libraries. By default, ElPack setup copies run-time packages to the folder specified in "BPL directory" in Delphi. If this folder is not in the Path environment variable, OS will not be able to find run-time packages needed by design-time packages. In this case you will need to manually copy run-time packages to the Windows System folder. 

<p align="justify"><b>Notes for C++Builder users:</b>
<ol>
<li>
If you get an error "unknown identifier: _di_IDropTarget" or something similar, it might be caused by the declaration missing from VCL. To solve the problem add the following three lines as first lines of any .cpp file of your project that refers to ElDragDrop or ElTree modules:
<pre>
#include &lt;sysdefs.h&gt;
DECLARE_DINTERFACE_TYPE(IEnumFORMATETC)
DECLARE_DINTERFACE_TYPE(IDropSource)
</pre>
<br>C++Builder developers simply forgot to declare these two interfaces in VCL source code. 
<p>
<li>
<p align="justify">Unfortunately, Delphi compiler in C++Builder is unable to produce the libraries (elpackBY.lib, elpkdbBY.lib, elpproBY.lib) required to link the application with evaluation version of ElPack. To create those files you need to open the appropriate .BPK file and compile it. If all paths are set correctly, the package will be rebuilt and you will get .LIB files. 
</ol>

<p align="justify">Help files installation is described below. 

<p align="justify">
<p class="header2"><a name="INSTALLR">Installing registered version (source-code)</a></center>

<p align="justify">To install ElPack, different sets of packages for different development tools (Delphi and C++Builder) are provided.

<p align="justify"><a name="pack_names">Each set consists of 8 packages</a>:
<ul>
<li>elpackXY.?pk - ElPack run-time package
<li>dclelpXY.?pk - ElPack design-time package
<li>elpkdbXY.?pk - ElPack DB-aware controls run-time package (Professional package only, VCL only)
<li>dceldbXY.?pk - ElPack DB-aware controls design-time package (Professional package only, VCL only)
<li>elpproXY.?pk - ElPack Professional run-time package (Professional package only, VCL only)
<li>dcelppXY.?pk - ElPack Professional controls design-time package (Professional package only, VCL only)
<li>elmlgnXY.?pk - EldoS *ML Generator package (Professional package only, VCL only)
<li>elmltgXY.?pk - EldoS ElTree *ML Generator package (Professional package only, VCL only)
</ul>

<p align="justify">Where
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>X</b> stands for the development tool (D - Delphi, B - C++Builder, C - Delpi/CLX), and 
<br>&nbsp;&nbsp;&nbsp;&nbsp;<b>Y</b> stands for the version of the development tool (3, 4, 5, 6 for Delphi and C++Builder).

<p align="justify">Pre-built packages and units are <b>not</b> included to reduce distribution size. During installation ElPack Setup attempts to build and install all packages except packages for C++Builder 3 and C++Builder 4 automatically. If Setup fails or you need packages for C++Builder 3 and C++Builder 4, you will need to build the packages manually.

<p class="header3">Step-by-step installation instructions for all sets:</p>

<ol>
<li><a name="step_1">Tune-up global paths in your development tool</a>.

<br>You have to set 
<ul>
<li>the output paths to the folder, where the packages are located. Usually you will need to add two folders to the path -- one folder with run-time packages, and one folder with design-time packages. 
<li>source path (or include and library paths for C++Builder) to the folder, where code files are located. Usually you will need to add two folders to the path -- one folder with run-time code, and one folder with design-time code).
</ul>
Paths are set in Menu->Tools->Environment options. Environment Options dialog appears. Find Library or Directories tab in the page control and you will find paths configuration page.
<br>
If you installed ElPack to c:\eldos\elpack, then source paths will be c:\eldos\elpack\code\source and c:\eldos\elpack\code\design. You select output path yourself, but usually this is the path that is set as DPL/BPL output directory.
<p>
<li>(C++Builder 3 only). Go to the LIB subfolder of the C++Builder 3 base folder.
There dclstd35.lib file might exist. If it doesn't exist, copy the file named dclstd35.bpi to the dclstd35.lib. This is need to compile projects that will use ElPack, and sometimes needed even to make ElPack packages.
<br>(C++Builder 4 only). Go to the LIB subfolder of the C++Builder 4 base folder. There can dclstd40.lib file exist. If it doesn't exist, copy the file named dclstd40.bpi to the dclstd40.lib. This is need to compile projects that will use ElPack, and sometimes needed even to make ElPack packages.

<li>Open elpackXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder.
<li>Compile the opened package (press Compile Package button in Delphi or Make in C++Builder).
<li>Copy the compiled package (elpackXY.?pl) to your Windows system folder. 

<li>Open dclelpXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder. 
<li>Install the opened package. In Delphi you will need just to press Install Package button. In C++Builder you have to "Make" the package first, then select Component\Installed packages and add the package you've just compiled, to the list of loaded packages.

<li>(Professional package only) Open elpkdbXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder.
<li>Compile the opened package (press Compile Package button in Delphi or Make in C++Builder).
<li>Copy the compiled package (elpkdbXY.?pl) to your Windows system folder. 

<li>(Professional package only) Open dceldbXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder. 
<li>Install the opened package. In Delphi you will need just to press Install Package button. In C++Builder you have to "Make" the package first, then select Component\Installed packages and add the package you've just compiled, to the list of loaded packages.

<li>(Professional package only) Open elpproXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder.
<li>Compile the opened package (press Compile Package button in Delphi or Make in C++Builder).
<li>Copy the compiled package (elpkdbXY.?pl) to your Windows system folder. 

<li>(Professional package only) Open dcelppXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder. 
<li>Install the opened package. In Delphi you will need just to press Install Package button. In C++Builder you have to "Make" the package first, then select Component\Installed packages and add the package you've just compiled, to the list of loaded packages.

<li>(Professional package only) Open elmlgnXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder. 
<li>Install the opened package. In Delphi you will need just to press Install Package button. In C++Builder you have to "Make" the package first, then select Component\Installed packages and add the package you've just compiled, to the list of loaded packages.

<li>(Professional package only) Open elmltgXY.?pk package (see <a href="#pack_names" class="Alink">the explanation above</a> to find out the right name). 
<li>Repeat <a href="#step_1" class="Alink">step 1</a> for the package private paths. To set the package's paths, use Options button in Delphi and Project\Properties menu for C++Builder. 
<li>Install the opened package. In Delphi you will need just to press Install Package button. In C++Builder you have to "Make" the package first, then select Component\Installed packages and add the package you've just compiled, to the list of loaded packages.

<li><i>(C++Builder only, all versions)</i>
If you get the message about missing *.lib file (pkg_name.lib, for example), copy &lt;BCB folder&gt;\Lib\pkg_name.bpi to &lt;BCB folder&gt;\Lib\pkg_name.lib.
<br>
If you get an error "unknown identifier: _di_IDropTarget" or something similar, it might be caused by the declaration missing from VCL. To solve the problem add the following three lines as first lines of any .cpp file of your project that refers to ElDragDrop or ElTree modules:
<pre>
#include &lt;sysdefs.h&gt;
DECLARE_DINTERFACE_TYPE(IEnumFORMATETC)
DECLARE_DINTERFACE_TYPE(IDropSource)
</pre>
<br>C++Builder developers simply forgot to declare these two interfaces in VCL source code. 


<p class="header2"><a name="HELPFILE">Installing help files</a></center>

<p align="justify">Since ElPack 3.10 help files are available as a separate package and are not included into code installation. You can get the help files from the <a href="http://www.eldos.org/elpack/download.html" class="Alink">site</a>
Help files are integrated to Delphi or C++Builder help system during ElPack Help Files installation (ElPack Help Files is what you download from the above link). If you need to re-install your development tool, you will have to add ElPack help files to help system manually. To do this
<ul>
<li>Delphi 3:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi3.cfg
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;Delphi base folder&gt;\Help\delphi3.cnt
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi3.cnt after all :Index lines
	</ul>
<li>Delphi 4:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi4.cfg
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;Delphi base folder&gt;\Help\delphi4.cnt
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi4.cnt after all :Index lines
	</ul>
<li>Delphi 5:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi5.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;Delphi base folder&gt;\Help\delphi5.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi5.ohi after all :Index lines
	</ul>
<li>Delphi 6 (both VCL and CLX):
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi6.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;Delphi base folder&gt;\Help\delphi6.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;Delphi base folder&gt;\Help\delphi6.ohi after all :Index lines
	</ul>
<li>C++Builder 3:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;C++Builder base folder&gt;\Help\bcb.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb.ohi after all :Index lines
	</ul>
<li>C++Builder 4:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb4.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;C++Builder base folder&gt;\Help\bcb4.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb4.ohi after all :Index lines
	</ul>
<li>C++Builder 5:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb5.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;C++Builder base folder&gt;\Help\bcb5.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb5.ohi after all :Index lines
	</ul>
<li>C++Builder 6:
	<ul>
		<li>add the line <pre>:Link ElPack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb6.ohl
		<li>add the line <pre>:Include ElPack.cnt</pre> to &lt;C++Builder base folder&gt;\Help\bcb6.ohc
		<li>add the line <pre>:Index EldoS Components Suite =elpack.hlp</pre> to &lt;C++Builder base folder&gt;\Help\bcb6.ohi after all :Index lines
	</ul>
</ul>

<p align="justify">
<center class="header2"><a name="MIGRATION">Migration from ElPack 2.x</a></center>

Several important changes have happened in ElPack 3.0 comparing to ElPack 2.80. First of all, ElDice component have been removed.
<br>
Then, TElColorCombo component has been completely rewritten. Due to this fact you will given an error message when trying to open forms that contain ElColorCombo. When you are notified that some property is missing from the combo box control, press "Ignore" button.
<br>
Some properties of different components (TElCheckBox, TElRadioButton, TElTree, TElPopupButton, TElGraphicButton and others) have been removed or renamed. So when you open the forms that contain these components, you will be notified that the property is missng and asked what to do (Ignore, Cancel, Ignore All). Choose Ignore or Ignore All.
<p align="justify">
TElFlat* components have been renamed to TElAdvanced*. To solve the problem with existing forms you need to use ElpConvert utility. The utility is installed to Tools folder. Use this utility as follows - start the application with the given parameters in every folder where your project files are located.
<pre>
elpconvert *.dfm
elpconvert *.pas
</pre>
What this tool does is open dfm and pas files and replace every occurence of "TElFlatListBox", "TElFlatComboBox", "TElFlatMemo" and "TElFlatEdit" to their "TElAdvanced" analogues. 
<br>
<br>
By default most visual components operate with Unicode strings. This might lead to problems while compiling some old projects that use event handlers with string parameters. You will need to manually change declarations of those event handlers. To turn off Unicode change {$DEFINE ELPACK_UNICODE} in ElPack.inc to {.$DEFINE ELPACK_UNICODE}.
<br>
<br>
ElTree 3.0 contains completely new, ultimately flexible and powerful inplace editing scheme. Of course, this scheme is completely incompatible with previous inplace editing. If you want to stay with old editing scheme, change {$DEFINE VER3_EDITORS} in ElPack.inc to {.$DEFINE VER3_EDITORS}.

<p align="justify">
<center class="header2"><a name="NOTES">Release Notes</a></center>

No release notes for now.

<p align="justify">
<center class="header2"><a name="LICENSE">Licensing and purchase</a></center>

Licensing terms are described in <a href="license.txt" class="Alink">license.txt</a>.<br>
ElPack is available in different packages and under different licenses.
To compare package contents please see <a href="packages.html" class="Alink">packages.html</a>.
To order some package please use <a href="order.html" class="Alink">order.html</a>

<p align="justify">
<center class="header2"><a name="DISCLAIMER">Disclaimer</a></center>

IN NO EVENT SHALL ELPACK LIBRARY AUTHORS, OR ANY OTHER PARTY WHO MAY HAVE DISTRIBUTED THE SOFTWARE AS PERMITTED, BE LIABLE FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE SOFTWARE (INCLUDING BUT NOT LIMITED TO LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR FAILURE OF THE SOFTWARE TO OPERATE WITH ANY OTHER PRODUCTS), EVEN IF SUCH HOLDER OR OTHER PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

<p align="justify">
<center class="header2"><a name="CONTACT">Contact information</a></center>

<p align="justify">ElPack is the product of EldoS. 

<p align="justify">The official ElPack homepage is <a href="http://www.eldos.org/elpack/elpack.html" class="Alink">http://www.eldos.org/elpack/elpack.html</a>
<p align="justify">You can send bug-reports and suggestions by e-mail to the authors to <a href="mailto:elpack@eldos.org" class="Alink">elpack@eldos.org</p>

<p align="justify">
<center class="header2"><a name="CREDITS">Credits</a></center>
<br>
Special thanks to Akzhan Abdulin (<a class="Alink" href="http://www.akzhan.midi.ru/devcorner/">http://www.akzhan.midi.ru/devcorner/</a>), who initiated XP themes support and made lots of improvements to existing components.
<br>
Some components were made by Alex Shovkoplyas for his Net Vampire Download manager project at <a href="http://www.netvampire.com" class="Alink">http://www.netvampire.com</a>.
<p align="justify">
<a href="http://www.eldos.org/copyright.html" class="ALinkSmaller">(c) Copyright, 1998-2002 EldoS</a>