<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="directxmath" version="2021.1.11.2" targetFramework="native" />
  <package id="Microsoft.DXSDK.D3DX" version="9.29.952.8" targetFramework="native" />
  <package id="sdl2.nuget" version="2.0.14" targetFramework="native" />
  <package id="sdl2.nuget.redist" version="2.0.14" targetFramework="native" />
</packages>