xrCore/.GitInfo.hpp

# exclude binaries and temporary files
ipch/
packages/

# User-specific files
*.suo
*.sdf
*.opensdf
*.user
*.VC.opendb
*.VC.db
*.nvuser

# Visual Studio profiler
*.psess
*.vsp
*.vspx
