# exclude binaries and temporary files
binaries/
binaries_plugs/
intermediate/
intermediate_plugs/
libraries/
ipch/

# User-specific files
*.suo
*.sdf
*.opensdf
*.user

# Visual Studio profiler
*.psess
*.vsp
*.vspx
